.cursor {
  width: 108px;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
  border-radius: 9899px;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: exclusion;
  overflow: hidden;

  &.coarse {
    pointer-events: initial;
    cursor: pointer;
    width: 12rem;
    max-width: 144px;
    bottom: var(--border-width);
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.cursorText {
  font-family: 'PT Mono';
  font-size: 12px;
  text-align: center;
  margin-inline: 0.5rem;
}

.follower {
  position: fixed;
  z-index: 999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 30px !important;
  height: 30px !important;

  svg * {
    fill: var(--accent-color) !important;
  }

  &.coarse {
    bottom: var(--border-width);
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 5rem !important;
  }
}
