.cursor {
  width: 108px;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
  border-radius: 9899px;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  display: grid;
  place-items: center;
  mix-blend-mode: exclusion;
  overflow: hidden;

  &.coarse {
    pointer-events: initial;
    cursor: pointer;
    width: 12rem;
    max-width: 144px;
    bottom: var(--border-width);
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 8;
  }
}

.cursorText {
  font-family: 'PT Mono', 'Lucida Console', 'Courier New', monospace;
  font-size: 12px;
  text-align: center;
  margin-inline: 0.5rem;
  grid-area: 1 / 1;
}

.follower {
  position: fixed;
  z-index: 999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;

  svg * {
    fill: var(--accent-color) !important;
  }

  &.coarse {
    bottom: var(--border-width);
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 8;
  }
}

.close {
  opacity: 0;
  width: 30px;
  height: 30px;
  fill: #fff;
  mix-blend-mode: exclusion;
  grid-area: 1 / 1;
}
