.star {
  --size: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  width: var(--size);
  min-width: 650px;
  height: var(--size);
  min-height: 650px;
  pointer-events: none;
  aspect-ratio: 1 / 1;
  // opacity: 0;
  z-index: 30;

  * {
    fill: var(--background-color);
    // fill: blue;
    fill: var(--accent-color);
  }
}

.bubble {
  --size: 500px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  z-index: 20;
  opacity: 0;

  * {
    // fill: var(--accent-color);
    fill: transparent;
  }
}
