$star-paths: 'M1097.18 621C1224.5 756 1141.5 837 1073 932.5',
  'M102.5 721.5C285.525 741.167 284.375 647.807 356.5 559.5C434.5 464 617.5 542 594.5 414',
  'M0 75C112.528 106.667 498.5 238 750 3.5',
  'M582.317 240.5C802.406 147 834 22.5 1125 77C1226.5 96.0095 1325.5 127.2 1353.5 -62',
  'M799.5 763.5C762.436 644.167 863.235 594.522 914.5 374C946 238.5 1065.19 420 1154.5 196.5',
  'M1345.75 60.5C1282.51 190.5 1185.22 482.5 1270.5 658.5C1303.69 727 1492.5 760 1579.5 646',
  'M446 203.5C358.833 192.5 266.1 265.1 244.5 311.5C217.5 369.5 200.882 390.679 169 411.5C144.5 427.5 72 436.5 -0.5 436.5';

.star {
  --size: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  width: var(--size);
  min-width: 650px;
  height: var(--size);
  min-height: 650px;
  pointer-events: none;
  aspect-ratio: 1 / 1;
  // opacity: 0;
  z-index: 30;

  * {
    fill: var(--background-color);
    fill: blue;
  }
}

.bubble {
  --size: 500px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  z-index: 20;
  opacity: 0;

  * {
    fill: var(--accent-color);
  }
}
