.container {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media screen and (max-width: 1200px) {
    object-fit: contain;
  }
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  width: 5rem;
  aspect-ratio: 1 / 1;

  &:not(.coarse) {
    display: none;
  }

  span {
    --rotate: 45deg;
    height: var(--cross-line-width);
    width: 30px;
    background-color: #fff;
    position: absolute;
    border-radius: 9999px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rotate));

    &:last-child {
      --rotate: -45deg;
    }
  }
}

.viewport {
  display: flex;
  align-items: flex-end;
  position: absolute;
  inset: 0;
  background-color: rgba(0 0 0 / 0.2);
  transition: ease 300ms opacity;

  &.inactive:not(.coarse) {
    opacity: 0;
  }
}

.controls {
  width: 100%;
  height: 7rem;
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 30px;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.011) 8%,
    hsla(0, 0%, 0%, 0.042) 15.3%,
    hsla(0, 0%, 0%, 0.091) 22%,
    hsla(0, 0%, 0%, 0.154) 28.3%,
    hsla(0, 0%, 0%, 0.228) 34.1%,
    hsla(0, 0%, 0%, 0.312) 39.8%,
    hsla(0, 0%, 0%, 0.401) 45.4%,
    hsla(0, 0%, 0%, 0.494) 50.9%,
    hsla(0, 0%, 0%, 0.588) 56.6%,
    hsla(0, 0%, 0%, 0.679) 62.5%,
    hsla(0, 0%, 0%, 0.764) 68.8%,
    hsla(0, 0%, 0%, 0.842) 75.6%,
    hsla(0, 0%, 0%, 0.909) 83%,
    hsla(0, 0%, 0%, 0.963) 91.1%,
    hsl(0, 0%, 0%) 100%
  );

  p {
    font-size: 12px;
    font-family: var(--mono-font);
    font-weight: bold;
  }
}

.playButton {
  background-color: rgba(0 0 0 / 0);
  outline: none;
  border: none;
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;

  svg {
    pointer-events: none;
    width: max(16px, 1.5rem);
    aspect-ratio: 1 / 1;

    &.play {
      transform: translateX(0.1rem);
    }
  }
}

.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.sliderTrack {
  background-color: rgba(255 255 255 / 0.25);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.bufferedRange {
  position: absolute;
  background-color: rgba(255 255 255 / 0.25);
  border-radius: 9999px;
  height: 100%;
}

.sliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}

.sliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background: radial-gradient(
    circle,
    var(--accent-color) 40%,
    rgba(0, 0, 0, 1) 40%
  );

  &:focus {
    outline: none;
  }
}
