.container {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid rgba(255 255 255 / 0.25);
}

.viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgba(0 0 0 / 0.2);
  transition: ease 300ms all;

  &.inactive {
    opacity: 0;
  }
}

.playButton {
  background-color: rgba(0 0 0 / 0);
  outline: none;
  border: none;

  svg {
    pointer-events: none;
    width: 5rem;
    height: 5rem;
  }
}
