@use 'styles/utils' as *;

.swapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10.5rem;
  position: relative;
  width: 100%;
  max-width: 1200px;
  transform: translateY(2rem);

  span {
    position: relative;
    width: fit-content;
    height: 100px;
    padding-top: 12px;
    position: absolute;
    padding-inline: calc(var(--border-width) + 3rem);
    @extend .content;
  }
}
