@use 'styles/utils' as *;

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  p {
    @extend .desc;
    padding-bottom: 16px;
  }

  a {
    position: relative;
    text-decoration: solid;
    @extend .content;
    padding: none;

    @media screen and (max-width: 560px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 376px) {
      font-size: 2.3rem;
    }

    &::after {
      content: '';
      position: absolute;
      transition: ease 350ms all;
      position: absolute;
      width: 0;
      bottom: 0.2em;
      right: 0;
      height: 1px;
      background-color: var(--accent-color);
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: unset;
      pointer-events: none;
    }
  }
}
