.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  h1 {
    font-weight: 400;
    max-width: 840px;
    text-align: center;
    font-size: 4rem;
    line-height: 1.3;
    padding: calc(var(--border-width) + 3rem);
  }
}
