@use 'utils.scss' as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #ff3121;
  --background-color: #000;
  --text-color: #fff;
  --border-color: #fff;
  --link-color: #fff;
  --text-selection-background-color: var(--accent-color);
  --text-selection-foreground-color: #fff;

  --border-width: 50px;
  --nav-padding: 39px;
  --line-height: 1.5;

  font-family: Benguiat;
  line-height: var(--line-height);
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: clamp(
    0.5rem,
    0.924vw + 0.261rem,
    1rem
  ); // vw: 414px => 8px; vw: 1280px => 16px
  line-height: clamp(0.6rem, 1.293vw + 0.265rem, 1.3rem);
}

::selection {
  background-color: var(--text-selection-background-color);
  color: var(--text-selection-foreground-color);
  -webkit-touch-callout: none;
}

body,
#root,
.app {
  min-height: 100vh;
  min-height: 100svh;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

.app {
  border: var(--border-width) solid var(--border-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.mono {
  font-family: 'PT Mono';
}

.page {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 400ms;
      transition-delay: 600ms;
    }
  }

  &-exit {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 400ms;
    }
  }
}

.fade-enter {
  opacity: 0;
  transform: translate(0, -25px);
  z-index: 1;
}
.fade-enter.fade-enter-done {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 600ms ease-out, transform 700ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 25px);

  transition: opacity 600ms ease-out, transform 700ms ease;
}

.swap-enter {
  filter: blur(15px);
  opacity: 0;
}
.swap-enter.swap-enter-active {
  opacity: 1;
  filter: blur(0px);

  transition: all 500ms ease-in-out;
  transition-delay: 250ms;
}
.swap-exit {
  filter: blur(0px);
  opacity: 1;
}
.swap-exit.swap-exit-active {
  filter: blur(15px);
  opacity: 0;
  transition: all 600ms ease-in-out;
}

// @each $path in $star-paths {
//   $i: index($star-paths, $path);

//   #star-#{$i - 1} {
//     display: block;
//     offset-path: path($path);
//     animation: move 2000ms infinite alternate ease-in-out;
//     // scale 2000ms infinite alternate ease-in-out;
//     offset-anchor: 0 100%;
//   }
// }

// @keyframes move {
//   0% {
//     offset-distance: 0%;
//   }
//   100% {
//     offset-distance: 100%;
//   }
// }
