.desc {
  font-family: var(--mono-font);
  font-size: 12px;
  padding-bottom: 6px;
  text-align: center;
  margin-inline: calc(var(--border-width) + 6rem);
  width: fit-content;
  line-height: var(--line-height);
  color: var(--text-color);
}

.content {
  font-weight: 400;
  max-width: 840px;
  text-align: center;
  font-size: 4rem;
  line-height: 1.3;
  color: var(--text-color);
}
